@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
/*font-family: "Montserrat", sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
}

/*header*/
header .container {
    position: fixed;
    width: 100vw;
    height: 110px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    margin: 0 2rem;
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

#menu a:hover {
    color: #fffb00;
    cursor: pointer;
}

/*home*/
.img {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#banner {
    background-image: url(https://images.pexels.com/photos/1181271/pexels-photo-1181271.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#banner h1 {
    text-transform: uppercase;
    margin: 3px 50px;
    color: #000000;
    font-size: 2rem;
}

/*exp e habilidades*/
#experiencia {
    margin: 60px;
}

h2 {
    margin: 20px 0;
    color: rgb(72, 9, 80);
}

h3 {
    margin: 15px 0 3px;
}
p{
    margin-bottom: 15px;
}

/*contato*/
#contato {
    margin: 60px;
    height: 500px;
}

#redes {
    margin-right: 30px;
}

#redes img {
    height: 50px;
    margin: 10px;
}